.chess-board {
    display: flex;
    flex-flow: row-reverse wrap;
    max-width: 800px;
    user-select: none;
    -webkit-user-select: none;
}

.square {
    box-sizing: border-box;
    display: flex;
    background-color: lightgray;
    aspect-ratio: 1;
    width: 12.5%;
}
.square.dark {
    background-color: gray;
}

.piece {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.piece.held {
    z-index: 2;
}

.piece.kind-wk {
    background: no-repeat center/contain url("images/wk.svg");
}
.piece.kind-wq {
    background: no-repeat center/contain url("images/wq.svg");
}
.piece.kind-wb {
    background: no-repeat center/contain url("images/wb.svg");
}
.piece.kind-wn {
    background: no-repeat center/contain url("images/wn.svg");
}
.piece.kind-wr {
    background: no-repeat center/contain url("images/wr.svg");
}
.piece.kind-wp {
    background: no-repeat center/contain url("images/wp.svg");
}

.piece.kind-bk {
    background: no-repeat center/contain url("images/bk.svg");
}
.piece.kind-bq {
    background: no-repeat center/contain url("images/bq.svg");
}
.piece.kind-bb {
    background: no-repeat center/contain url("images/bb.svg");
}
.piece.kind-bn {
    background: no-repeat center/contain url("images/bn.svg");
}
.piece.kind-br {
    background: no-repeat center/contain url("images/br.svg");
}
.piece.kind-bp {
    background: no-repeat center/contain url("images/bp.svg");
}
